@import "./style.scss";

.register {
 
  &__contenedorForm{
    @include desk {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
     position: relative;
     top: -50px;
    
    }

  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  &__fondo-figure {
    img {
      width: 100%;
      position: relative;
      z-index: -1;
    }
  }

  // &__section-form {
  //   @include desk {
  //     width: 90%;
  //     height: auto;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     position: relative;
  //     top:-600px;
  //   }
  // }

  &__form {
    @include desk {
      display: flex;
      flex-direction: column;
      width: 50%;
      position: absolute;
      top: 100px;
    }
  }
  &__container-tittle {
    @include desk {
      text-align: center;
      position: absolute;
      display: flex;
      justify-content: center;
      margin-top: -10px;
      width: 95%;
    }
  }

  &__button-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    @include desk {
      @include styleOval(
        $skyBkue,
        $skyBkue,
        $wi300,
        $he45,
        $white,
        $s18,
        $w300,
        $yellow,
        $yellow,
        $white
      );
    }
  }

  &__container-infoRegister {
    @include desk {
      width: 100%;
      height: auto;
      background-color: $gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      gap: 8px;
      padding-bottom: 30px;
      span {
        color: white;
      }
    }
  }

  &__user-photo {
    @include desk {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h5 {
        display: flex;
        color: white;
        justify-content: center;
        font-family: $fontMontserrat;
      }
    }
  }

  &__file-input-label {
    display: flex;
    cursor: pointer;
    justify-content: center;
    color: white;
    gap: 3px; /* Espacio entre el logo y el texto */

    img {
      width: 70px;
      position: relative;
      top: -5px;
      cursor: pointer;
    }
  }
  &__select {
    display: none;
  }

  &__input-regist {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 45px;
    width: 80%;

    input {
      border-radius: 15px;
      padding: 5px;
    }
    select {
      color: gray;
      border-radius: 15px;
      padding: 5px;
    }
  }
  &__ussers {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    gap: 9px;

    input {
      border-radius: 15px;
      padding: 5px;
      width: 80%;
    }
  }

  &__habeasdata {
    font-size: 0.7rem !important;
    color: $white;
    font-family: $fontMontserrat;
    padding: 10px;
    margin-left: 10px;
  }

  &__crearCuenta {
    @include desk {
      @include styleSquare(
        $yellow,
        $yellow,
        $wi85,
        $he25,
        $gray,
        $s12,
        $w400,
        $white,
        $gray,
        $gray
      );
    }
  }
}

@media screen and (max-width: 768px) {
  .register {
    // Estilos dentro del media query
    &__button-tittle {
      width: 300px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      width: 85%;
      position: absolute;
      top: 145px;
    }
  }
}

@media screen and (max-width: 375px) {
  .register {
    // Estilos dentro del media query
    &__button-tittle {
      width: 220px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      width: 85%;
      position: absolute;
      top: 145px;
    }
  }
}
