@import "./style.scss";

.jobtalent {
  @include desk {
      width: 99%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  // flex-wrap: wrap;
  // @include desk {
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   position: absolute;
  // }
  }
  &__layout{
    // background-color: red;
    width: 100%;
  }

  &__card-jobs{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  &__container {
    @include desk {
      margin: 1rem;
      width: 319px;
      height: 414px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      border-radius: 10px;
      
    }
  }

  &__container-cards {
     display: flex;
     margin-top: 20px;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 8px;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    gap: 12px;
    border: 1px solid grey;
    
  }
  &__container-imgTalent {
    margin-top: 25px;
    margin-bottom: 20px;
    @include desk {
      @include styleRound(
        $skyBkue,
        $skyBkue,
        $wi115,
        $he115,
        $white,
        $s14,
        $w300,
        $skyBkue,
        $skyBkue,
        $gray
      );
      position: relative;
    }
  }

  &__card-fig {
    @include desk {
      @include styleRound(
        $white,
        $skyBkue,
        $wi105,
        $he105,
        $white,
        $s14,
        $w300,
        $white,
        $skyBkue,
        $gray
      );

      img {
        width: 100%;
        height: 100%;
        border-radius: 5rem;
      }
    }
  }

  &__container-info {
    @include desk {
      width: 100%;
      justify-content: center;
      height: 3rem;
      display: flex;
      gap: 8px;
      margin-bottom: 15px;
      align-items: center;
    }
  }

  &__container-state {
    @include desk {
      display: flex;
      flex-direction: column;
      gap: 3px;
      justify-content: space-between;
      align-items: center;
    }
  }

  // &__container-levelEnglish {
  //   @include desk {
  //     display: flex;
  //     gap: 5px;
  //   }
  // }

  &__buttons-state {
    @include desk {
      width: 25px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__container-programs {
    @include desk {
        width: 20%px;
        height: 55px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
}

&__programs {
    @include desk {
        @include span($wiAuto, $he25, $trasparent, $grayLight,
            $fontNunito, $w300, $s10, $black);
    }
}

  &__line {
    @include desk {
      width: 3px;
      height: 55px;
      background-color: $grayLight;
    }
  }

  &__container-infoPnal {
    @include desk {
      display: flex;
      flex-direction: column;
    }
  }

  &__name {
    @include desk {
      @include text($fontMontserrat, $w400, $s12, $gray);
    }
  }

  &__lastName {
    @include desk {
      margin-bottom: 5px;
      @include text($fontMontserrat, $w400, $s12, $gray);
    }
  }

  &__know {
    @include desk {
      @include text($fontMontserrat, $w400, $s12, $grayLight);
    }
  }

  &__container-links {
    @include desk {
      display: flex;
      justify-content: center;
      
    }
  }

  &__button-link {
    margin-bottom: 20px;
    @include desk {
      @include styleOval(
        $skyBkue,
        $skyBkue,
        $wi230,
        $he35,
        $gray,
        $s14,
        $w300,
        $skyBkue,
        $skyBkue,
        $white
      );
    }
  }
  &__figure-icons-gitUp {
    @include desk {
      width: 23px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__figure-icons-linkedin {
    @include desk {
      width: 20px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__figure-icons-video {
    @include desk {
      width: 30px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }


  &__container-addpstulation{
    padding: 13px;
    position: relative;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    width: 274px;
    z-index: 1000;
    border-radius: 33px;
    
  }



  &__button-otherjobs {
    margin-bottom: 10px;
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    align-items: center;
    border-radius: 7px;
    background-color: $yellow;
    z-index: 1;
  }

  &__container-other {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin-top: -17px;
    gap: 10px;
    // padding: 18px;
    background-color: $skyBkue;
    border-radius: 9px;
    margin-bottom: 15px;

    form {
      display: flex;
      gap: 3px;
      padding: 15px;
      align-items: center;
      flex-direction: column;     
    }

  }

  &__button-other {
    background-color: $white;
    padding: 9px;
    color: $gray;
    border-radius: 5px;
    width: 90%;
    height: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  &__button-aceptar {
    @include desk {
      @include styleOval(
        $yellow,
        $yellow,
        $wi95,
        $he15,
        $gray,
        $s12,
        $w300,
        $yellow,
        $yellow,
        $white
      );
    }
  }


  /* ...........cards Mis postulaciones............*/
  &__container-infojob {
    @include desk {
      margin-top: 37px;
      width: 50%;
      height: auto;
      background-color: $gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
  }
  &__button-infojob{
    margin-top: -13px;
 
    @include styleSquare(
      $skyBkue,
      $skyBkue,
      $wi250,
      $he35,
      $white,
      $s18,
      $w300,
      $yellow,
      $yellow,
      $white
    );
  }


  &__container-costumer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin-top: 27px;
    gap: 10px;
    padding: 30px;
    background-color: $skyBkue;
    border-radius: 9px;
    margin-bottom: 20px;
    max-height: 382px;
    overflow-y: auto;
  }
  &__button-status {
    background-color: $gray;
    padding: 10px;
    color: $white;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
  }

  &__button-changeStatus {
    background-color: $white;
    padding: 10px;
    color: $gray;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
  }

  &__button-costumer {
    margin-bottom: 30px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 7px;
    align-items: center;
    background-color: $yellow;
  }

  }


 /* .........media query tablet.......... */

@media screen and (max-width: 768px) {
  .jobtalent {
  

    &__container-infojob {
      width: 80%;
      height: auto;
      background-color: #252935;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      position: absolute;
      top: 611px;
      
    }
    &__container-costumer {
      max-height: 272px;
      overflow-y: auto;
      max-height: 211px;
    }
    &__button-costumer {
      width: 100%;
    }
    &__footer{
      display: flex;
      margin-top:350px;
    }
      
    &__card-jobs {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      margin-bottom: 336px;
      gap:20px;
  }
  }
}

@media screen and (max-width: 375px) {
  .jobtalent {
    // width: 100%;
    // height: 100%;
    // display: flex;
    // position: absolute;
    // top: 128px;
    // left: 0px;
    &__container-infojob {
      width: 80%;
      height: auto;
      background-color: #252935;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      position: absolute;
      top: 607px;
      
    }
    &__container-costumer {
      max-height: 272px;
      overflow-y: auto;
      max-height: 211px;
    }
    &__button-costumer {
      width: 100%;
    }

    &__footer{
      margin-top: 404px;
    }

    &__card-jobs {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      margin-bottom: 336px;
      gap:20px;
  }

    
  }
}
