@import"./variables";
@import"./style.scss";

// body{
//     background-color: #13274d;
// }



.section {
  display: flex;
  line-height: 40px;
  // background-color:blueviolet;
  padding-top: 30px;
  margin-top: 80px;

  &__logomakaia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    img {
      width: 200px;
    }
  }
}







.btn-tabs {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: $gray;
  margin-top: 15px;
  border-radius: 15px;
  height: 30vh;

}

.section__contenedor1 {
  display: flex;
  margin-left: 15px;
}

.section__back {
  margin-top: 50px;

}

.section__icon {
  margin-right: 25px;
  margin-top: 30px;
}

.message__pt{
  text-align: initial;
  color:$gray;
  font-weight: bold;
  margin-top: 60px;


}

.message__bt{
  text-align: initial;
  color:$gray;
  font-weight: bold;
  margin-top: 40px;
  margin-left: -50px;



}

.infoAdminUp{
  display: flex; 
  text-align: initial;
  color:$gray;
  font-weight: bold;
  margin-top: 60px;

  
}





.main__container {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
  // background-color: aqua;
  height: 150vh;

  &__navBar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    gap: 40px;
    margin-top: 45px;
    margin-left: -60px;


    a {
      // color: black;
      cursor: pointer;
    }

  }

  &__tabs {
    // display: flex;
    // background-color:black;
    height: 40vh;
    width: 60vw;
    margin-left: 150px;
    margin-top: 30px;

  }

  &__sectiontabs {
    background-color: white;
    display: flex;

  }

  &__tdA{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }

  &__sectiontabsL {
    // background-color: brown;
    display: flex;
    height: 5vh;
    gap: 50px;
    margin-left: 30px;

  }

  &__sectiontab {
    background-color: transparent;
    color: $skyBkue;
    margin-left: 350px;
    font-size: 20px;
  }

  &__sectionpanel {
    // background-color:yellow;
    margin-top: 20px;
    height: 45vh;
    width: 80vw;
    margin-left: -70px;
  }

  &__tl {
    // background-color: black;
    
    height: 10vh;



  }

  &__sectiontpanel {
    // background-color: white;
    height: auto;

  }

  &__divpanel {
    display: flex;
    justify-content: space-around;
    // background-color: blueviolet;
    height: 90px;
    align-items: center;

    span {
      font-size: 22px;
      color: black;

    }

  }

 


  &__sectionT {
    // background-color:aqua;
    height: 45vh;
    margin-top: 20px;
  }

  &__tablepanelA {
    // background-color: beige;
    padding: 15px;
    margin: 10px;
    height: auto;
    width: 78vw;
    // border: 1px solid $skyBkue;
    // border-radius: 15px;
  }

  &__th {
    background-color:gainsboro;   
    color:$gray;
    height: 10vh;
    
  }

  &__tr {
    text-align: center;
    height: 6vh;
  }

 

  &__trb1 {
    text-align: center;
    background-color: $softblue;   
    color: white;
    height: 6vh;
  }

  
}

.main__container__tdA{
  background: none ;
  color: white;
  margin-left: 25px;
  margin-bottom: 12px;
  font-weight: bold;  
  
}

.main__container__tdL{
  background: none ;
  background-color: transparent;
  color: white;
  list-style: none;
  border: none; 
  margin-bottom: 12px;
  font-weight: bold; 
  align-items: center;
  color: white;
  text-decoration: none;
  

  &__tdLink{
    background-color: transparent;
    color: white;
    text-decoration: none;
  }
  
}