@import "./style.scss";

.editProfile {
  @include desk {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  &__background {
    display: flex;
    position: absolute;
    right: 79px;
    width: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    @include desk {
      margin: 1rem;
      width: 30rem;
      height: 40rem;
      padding: 5px;
      display: flex;
      background-color: white;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      border-radius: 10px;
    }
  }
  &__seccion-info {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__card-figure {
    @include desk {
      @include styleRound(
        $white,
        $skyBkue,
        $wi105,
        $he105,
        $white,
        $s14,
        $w300,
        $white,
        $skyBkue,
        $gray
      );

      img {
        width: 100%;
        height: 100%;
        border-radius: 5rem;
      }
    }
  }

  &__container-title {
    @include desk {
      position: absolute;
      width: 280px;
      display: flex;
      justify-content: center;
    }
  }

  &__button-title {
    @include desk {
      @include styleSquare(
        $skyBkue,
        $skyBkue,
        $wi300,
        $he35,
        $white,
        $s18,
        $w300,
        $yellow,
        $yellow,
        $white
      );
    }
  }

  &__container-infoCustom {
    @include desk {
      margin-top: 13px;
      width: 90%;
      height: auto;
      background-color: $gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
  }

  &__container-infoContacts {
    @include desk {
      width: auto;
      margin-top: 31px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  &__container-profile {
    @include desk {
      padding-top: 8px;
      margin-bottom: 5px;
      height: 50px;
      display: flex;
      justify-content: center;
      gap: 5px;
      flex-direction: column;
    }
  }
  &__error-message {
    color: white;
    font-family: $fontMontserrat;
    font-size: 10px;
  }

  &__container-form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &__input {
    @include desk {
      @include styleSquare(
        $white,
        $white,
        $wi350,
        $he25,
        $gray,
        $s12,
        $w400,
        $white,
        $gray,
        $gray
      );
    }
  }

  &__input-profile {
    @include desk {
      @include styleSquare(
        $white,
        $white,
        $wi350,
        $he85,
        $gray,
        $s12,
        $w400,
        $white,
        $gray,
        $gray
      );
    }
  }

  &__container-custom {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__label {
    @include styleSquare(
      $white,
      $white,
      $wi350,
      $he25,
      $gray,
      $s12,
      $w400,
      $white,
      $gray,
      $gray
    );
 
   
  }

  &__knowLedge {
    background-color: white;
    border-radius: 5px;
    font-family: $fontRoboto;
    font-size: 12px;
    font-weight: 400;
    color: $gray;
    padding: 9px;
  }

  &__knowLedge {
    display: flex;
    width: 83%;
    gap: 5px;
  }

  &__languages {
    display: flex;
    width: 92%;
     flex-wrap: wrap;
    gap: 10px;
    padding: 6px;

    input {
      font-family: $fontRoboto;
      font-size: 12px;
      font-weight: 400;
    }
    label {
      margin: 3px;
    }
  }

 
  &__container-pdf{
    display: flex;
    flex-direction: row;
    gap: 7px;
    width: 83%;
 } 
 
 &__input-file {
     font-size: 10px;
  }


  &__button {
    margin-bottom: 30px;
    @include desk {
      @include styleOval(
        $yellow,
        $yellow,
        $wi95,
        $he35,
        $gray,
        $s16,
        $w300,
        $yellow,
        $yellow,
        $white
      );
    }
  }
}
