@import "../style/_variables";
@import "./style.scss";

.home {
  @include desk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    &__container{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__title-container{
      display: flex;
      justify-content: center;
    }
    &__title {
      width: 75%; 
      font-size: 22px;
      font-family: $fontMontserrat;
      text-align: center;

      span {
        color: $skyBkue;
      }
    }
  }

  .text__sec {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
  }

  &__info-container {
    display: flex;
    justify-content: center;
    // justify-content: space-around;
    margin-top: 50px;
    // margin-left: -10px;
  }

  &__info-form {
    display: flex;
    align-items: center;
    // margin-left: 420px;
    gap: 3px;
  }

  &__info-form1 {
    input {
      background-color: gainsboro;
      width: 30vw;
      height: 6vh;
      border-radius: 14px;
      padding: 15px;
      font-size: 16px;
      
    }
  }

  &__info-form2 {
    input {
      background-color: gainsboro;
      width: 10vw;
      height: 6vh;
      border-radius: 14px;
      padding: 15px;
      font-size: 16px;
      
    }
  }
  &__info-form3 {
    button {
      background-color: $gray;
      color: white;
      font-weight: bold;
      width: 9vw;
      height: 6vh;
      background-color:#25ABBC;
      border-radius: 10px;
      font-size: 16px;
    }
  }

  &__info-grid2 {
    display: flex;
    width: 70%;
    align-items: center;
    // padding-left: 200px;
    justify-content: center;
  }

 
  &__info-form3 button {
    width: 18vw;
  }

  &__info-form2 input {
    background-color: gainsboro;
    width: 24vw;
  }

  &__info-grid3 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
 
}



@media screen and (max-width: 375px) {
  .home {

    &__info-form1 input {
      background-color: gainsboro;
      width: 40vw;
    }

   
    &__info-form2 {
      input {
        display: none;
      }

  }

  &__info-form3 button {
    width: 24vw;
  }
}
}
