@import "./style.scss";

.editProfile {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  flex-direction: column;
  margin-bottom: 10px;

  // &__boton{
  //   background-color: red;
  //   width: 300px;
  // }

  &__section {
    @include desk {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 73px;
      margin: 42px;
    }
  }

  &__background {
    display: flex;
    position: absolute;
    right: 79px;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    @include desk {
      margin: 1rem;
      width: 30rem;
      height: 40rem;
      padding: 5px;
      display: flex;
      // background-color: white;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      border-radius: 10px;
    }
  }
  &__seccion-info {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__card-figure {
    @include desk {
      @include styleRound(
        $white,
        $skyBkue,
        $wi105,
        $he105,
        $white,
        $s14,
        $w300,
        $white,
        $skyBkue,
        $gray
      );

      img {
        width: 100%;
        height: 100%;
        border-radius: 5rem;
      }
    }
  }

  &__container-title {
    @include desk {
      position: absolute;
      width: 280px;
      display: flex;
      justify-content: center;
    }
  }

  &__button-title {
    @include desk {
      @include styleSquare(
        $skyBkue,
        $skyBkue,
        $wi300,
        $he35,
        $white,
        $s18,
        $w300,
        $yellow,
        $yellow,
        $white
      );
    }
  }

  &__container-infoCustom {
    @include desk {
      margin-top: 13px;
      width: 100%;
      height: auto;
      background-color: $gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
  }

  &__container-infoContacts {
    @include desk {
      width: auto;
      margin-top: 31px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  &__container-profile {
    @include desk {
      height: 50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__error-message {
    color: white;
    font-family: $fontMontserrat;
    font-size: 10px;
  }

  &__container-form {
    display: flex;
    width: 91%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &__input {
    @include desk {
      @include styleSquare(
        $white,
        $white,
        $wi350,
        $he25,
        $gray,
        $s12,
        $w400,
        $white,
        $gray,
        $gray
      );
    }
  }

  &__input-profile {
    @include desk {
      @include styleSquare(
        $white,
        $white,
        $wi350,
        $he85,
        $gray,
        $s12,
        $w400,
        $white,
        $gray,
        $gray
      );
    }
  }

  &__container-custom {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__label {
    @include styleSquare(
      $white,
      $white,
      $wi350,
      $he25,
      $gray,
      $s12,
      $w400,
      $white,
      $gray,
      $gray
    );
  }

  &__knowLedge {
    background-color: white;
    border-radius: 5px;
    font-family: $fontRoboto;
    font-size: 12px;
    font-weight: 400;
    color: $gray;
    padding: 9px;
  }

  &__knowLedge {
    width: 83%;
    gap: 5px;
  }
  &__div-know{
    gap:10px;
    display: flex;
    flex-direction: row;
  }

  &__languages {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    // border: solid 1px gray;
    border-radius: 5px;
    padding: 9px;
    width: 48%;
    

    input {
      font-family: $fontRoboto;
      font-size: 12px;
      font-weight: 400;
      border: solid 1px gray;
      border-radius: 5px;
      padding: 3px;
    }
    label {
      margin: 3px;
    }
  }
  &__language-other{
    position: relative;
    left: -173px;
    width: 100%;
    top: 10px;

  }

  &__container-up {
    display: flex;
    flex-direction: row;
    gap: 7px;
    width: 83%;
  }

  &__container-pdf {
    display: flex;
    flex-direction: row;
    gap: 7px;
    width: 83%;
  }

  &__input-file {
    font-size: 10px;
  }

  &__button {
    margin-bottom: 30px;
    @include desk {
      @include styleOval(
        $yellow,
        $yellow,
        $wi95,
        $he35,
        $gray,
        $s16,
        $w300,
        $yellow,
        $yellow,
        $white
      );
    }
  }

  &__footer {
    padding-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .editProfile {
    &__input {
      width: 345px !important;
    }

    &__background {
      display: flex;
      position: absolute;
      width: 100%;
      left: -16px;
    }

    &__container-custom {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }

    &__seccion-info {
      display: flex;
      width: 100%;
      justify-content: center;
      position: relative;
      top: 146px;
      left: -29px;
    }
    &__input-profile {
      @include styleSquare(
        $white,
        $white,
        $wi350,
        $he85,
        $gray,
        $s12,
        $w400,
        $white,
        $gray,
        $gray
      );
    }
  }
}

@media screen and (max-width: 375px) {
  .editProfile {
    &__input {
      width: 250px !important;
    }

    &__background {
      display: flex;
      position: absolute;
      width: 100%;
      left: 11px;
      top: -43px;
    }

    &__container-custom {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }

    &__seccion-info {
      display: flex;
      width: 100%;
      justify-content: center;
      position: relative;
      top: 146px;
      left: -2px;
    }
    &__input-profile {
      @include styleSquare(
        $white,
        $white,
        $wi250,
        $he85,
        $gray,
        $s12,
        $w400,
        $white,
        $gray,
        $gray
      );
    }
  }
}
