@import "../style/style.scss";
.blog {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 40px;

  &__containerinfo1 {
    display: flex;
    gap: 200px;
  }
  &__textinformation {
    h1 {
      width: 400px;
      font-size: 50px;
      font-family: $fontMontserrat;
    }
  }
  &__imagen {
    width: 600px;
    margin-left: 70px;
    img {
      width: 100%;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }
  &__linea {
    width: 430px;
    height: 3px;
    background-color: $skyBkue;
    margin-top: 70px;
  }
  &__containerinfo2 {
    display: flex;
    margin-top: 60px;
  }
  &__textaqui {
    display: flex;
    h1 {
      font-family: $fontNunito;
    }
  }
  &__informationcard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 15px;
  }
  &__notice {
    display: flex;
    flex-direction: column;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 800px;
    position: relative;
    left: -200px;
    p {
      text-align: left;
      position: relative;
      left: -240px;
    }
    h2 {
      justify-content: center;
      font-family: $fontMontserrat;
    }
  }
  &__textinformation {
    h1 {
      font-family: $fontNunito;
      width: 300px;
    }
  }
  &__section2 {
    position: relative;
    left: -3200px;
  }
}

.blog__carrusel--left {
  img {
    border-radius: 10px;
  }
}

.blog__carrusel--left .carousel-root {
  position: relative;
  top: 120px;
  img {
    width: 300px;
  }
}
.blog__section2 {
  display: flex;
  flex-direction: column;
  position: relative;
  h1 {
    font-family: $fontNunito;
  }
}
.blog__section3 {
  position: relative;
  left: 60px;
}
.blog__containervideos {
  display: flex;
  gap: 60px;
  padding-top: 30px;
}
.carousel-item {
  width: 500px;
}
@include mobile {
  .blog {
    &__imagen {
      img {
        width: 150px;
        position: relative;
        left: -310px;
      }
    }
    &__textinformation {
      h1 {
        font-size: 24px;
        width: 200px;
        position: relative;
        left: -10px;
      }
    }
    &__linea {
      position: relative;
      top: -30px;
      width: 300px;
    }
    &__containerinfo2 {
      flex-direction: column;
    }
    &__textaqui {
      h1 {
        position: relative;
        top: -50px;
        left: -40px;
      }
    }
  }
  .blog__carrusel--left .carousel-root {
    left: 20px;
  }
  .blog__carrusel--left {
    position: relative;
    top: -100px;
    left: -90px;
    width: 300px;
  }
}
