@import "./style.scss";

.talentOffer {
  @include desk {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // @include desk {
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   justify-content: flex-start;
  //   padding: 20px;
  //    }
  }

  &__card-jobs {
    display: flex;
    justify-content: center;
  }

  &__container {
    @include desk {
      margin: 1rem;
      width: 319px;
      height: 414px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      border-radius: 10px;
    }
  }

  &__container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 8px;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    gap: 12px;
    border: 1px solid grey;
    margin-top: 20px;
  }
  &__container-imgTalent {
    margin-top: 25px;
    margin-bottom: 20px;
    @include desk {
      @include styleRound(
        $skyBkue,
        $skyBkue,
        $wi115,
        $he115,
        $white,
        $s14,
        $w300,
        $skyBkue,
        $skyBkue,
        $gray
      );
      position: relative;
    }
  }

  &__card-fig {
    @include desk {
      @include styleRound(
        $white,
        $skyBkue,
        $wi105,
        $he105,
        $white,
        $s14,
        $w300,
        $white,
        $skyBkue,
        $gray
      );

      img {
        width: 100%;
        height: 100%;
        border-radius: 5rem;
      }
    }
  }

  &__container-info {
    @include desk {
      width: 100%;
      justify-content: center;
      height: 3rem;
      display: flex;
      gap: 8px;
      margin-bottom: 15px;
      align-items: center;
    }
  }

  &__container-state {
    @include desk {
      display: flex;
      flex-direction: column;
      gap: 3px;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__buttons-state {
    @include desk {
      width: 25px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__container-programs {
    @include desk {
      width: 20%px;
      height: 55px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  &__programs {
    @include desk {
      @include span(
        $wiAuto,
        $he25,
        $trasparent,
        $grayLight,
        $fontNunito,
        $w300,
        $s10,
        $black
      );
    }
  }

  &__line {
    @include desk {
      width: 3px;
      height: 55px;
      background-color: $grayLight;
    }
  }

  &__container-infoPnal {
    @include desk {
      display: flex;
      flex-direction: column;
    }
  }

  &__name {
    @include desk {
      @include text($fontMontserrat, $w400, $s12, $gray);
    }
  }

  &__lastName {
    @include desk {
      margin-bottom: 5px;
      @include text($fontMontserrat, $w400, $s12, $gray);
    }
  }

  &__know {
    @include desk {
      @include text($fontMontserrat, $w400, $s12, $grayLight);
    }
  }

  &__container-links {
    @include desk {
      display: flex;
      justify-content: center;
    }
  }

  &__button-link {
    margin-bottom: 20px;
    @include desk {
      @include styleOval(
        $skyBkue,
        $skyBkue,
        $wi230,
        $he35,
        $gray,
        $s14,
        $w300,
        $skyBkue,
        $skyBkue,
        $white
      );
    }
  }
  &__figure-icons-gitUp {
    @include desk {
      width: 23px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__figure-icons-linkedin {
    @include desk {
      width: 20px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__figure-icons-video {
    @include desk {
      width: 30px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__container-otheroffert {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__button-otheroffert {
    margin-top: -13px;
    margin-bottom: 10px;
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    align-items: center;
    border-radius: 7px;
    background-color: $yellow;
    z-index: 1;
  }

  /* .........cards Ofertas laborales.......... */

  &__container-offert {
    @include desk {
      margin: 1rem;
      width: 50%;
      height: auto;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      border-radius: 10px;
    }
  }

  &__button-otherjobs {
    margin-top: -23px;
    @include desk {
      @include styleSquare(
        $skyBkue,
        $skyBkue,
        $wi300,
        $he35,
        $white,
        $s18,
        $w300,
        $yellow,
        $yellow,
        $white
      );
    }
  }

  &__container-infojob {
    @include desk {
      margin-top: 30px;
      width: 100%;
      height: auto;
      background-color: $gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding: 10px;
    }
  }

  &__container-jobs {
    background-color: $yellow;
    margin-bottom: 30px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: $fontMontserrat;
    max-height: 300px;
    width: 93%;
    overflow-y: auto;
  }

  &__button-costumer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    justify-content: center;
    padding: 15px;
    border-radius: 7px;
    align-items: center;
    background-color: $yellow;
    gap: 10px;
  }

  &__div-costumer {
    display: flex;
    justify-content: center;
    width: 110%;
    gap: 10px;
  }
  &__button-job {
    background-color: $gray;
    padding: 10px;
    color: $white;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
  }

  &__button-changeinfo {
    background-color: $white;
    padding: 10px;
    color: $gray;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
  }
  &__aplicattionJob {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 30px;
    background-color: $skyBkue;
    border-radius: 10px;
    font-family: $fontMontserrat;
    align-items: center;
    margin-top: -400px;
  }

  &__contenerdorpopup-close{
    position: relative;
    left: 186px;;
  }
  &__popup-close{
    background-color: transparent;
    display: flex;
   
  }
  &__button-offer {
    display: flex;
    width: 100%;
    border-radius: 9px;
    padding: 10px;
    background-color: $gray;
    color: $white;
  }
  &__button-requ {
    display: flex;
    border-radius: 9px;
    padding: 10px;
    background-color: $white;
  }

  &__button-talentOffer {
    @include desk {
      @include styleOval(
        $yellow,
        $yellow,
        $wi135,
        $he35,
        $gray,
        $s14,
        $w300,
        $yellow,
        $yellow,
        $white
      );
    }
  }
}

/* .........media query tablet.......... */

@media screen and (max-width: 768px) {
  .talentOffer {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__container-infojob {
      margin-top: 80px;
    }
    
    &__card-jobs {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    &__button-otherjobs {
      width: 223px;
    }

    &__container-offert {
      width: 80%;
      height: auto;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      border-radius: 10px;
    margin-top: -37px;
    }
  }
}

/* .........media query mobile.......... */

@media screen and (max-width: 375px) {
  .talentOffer {
    display: flex;
    justify-content: center;
    flex-direction: column;
 

    &__card-jobs {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    // &__container-infojob {
    //   margin-top: 20px;
    // }

    &__button-otherjobs {
      width: 223px;
    }

    &__container-offert {
      margin: 1rem;
      width: 90%;
      height: auto;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      border-radius: 10px;
    }

    &__button-otherjobs {
      margin-top: -13px;

      @include styleSquare(
        $skyBkue,
        $skyBkue,
        $wi250,
        $he35,
        $white,
        $s18,
        $w300,
        $yellow,
        $yellow,
        $white
      );
    }
    &__container-infojob {
      margin-top: 10px;
      max-height: 274px;
      width: 96%;
    }
    &__aplicattionJob {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 70%;
      padding: 21px;
      background-color: #25abbc;
      border-radius: 10px;
      font-family: "montserrat", sans-serif;
      align-items: center;
    }
    &__contenerdorpopup-close{
      position: relative;
      left: 112px;
    }
    &__popup-close{
      background-color: transparent;
      display: flex;
    
    
    }
  }
}
