@import "../style/_variables";

body {
  // background-color: $gray;
  padding-left: 40px;
}

p{
  width: 55%;
  margin-left: 450px;
  font-size: 20px;
  font-family: $fontMontserrat;
  text-align: center;
  
}

.info__container{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  // &__company{
  //   display: flex;
  //   flex-direction: column;
  // }

  &__company{
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  

}

.info__text{
  display: flex;
  flex-direction: column;
}
