@import "./variables.scss";
@import "./style.scss";

.admin__talents-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
    line-height: 60px;
    margin-top: 60px;
    witd:60px;
    font-size: 30px;
    
    // margin-left: 500px;

   
    }
