@import "../../style/mixin.scss";

.footer {
  position: relative;
  justify-content: end;
  left: -40px;
  width: 1349px;
  height: 100px;
  display: flex;
  background-color: $gray;

  figure {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-left: 50px;
    img {
      background-color: $white;
      width: 30px;
      border-radius: 35%;
    }
  }
}
