@import "../../style/style.scss";

.footer {

  @include desk {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: $gray;
    padding: 30px;
    margin-top: 50px;

  }

  &__information {
    @include desk {
      display: flex;
      margin-bottom: 10px;
    }
  }

  &__logo {
    @include desk {
      width: 300px;
    }
  }

  &__figure-logo{
    margin-left : 80px ;
    width: 150px;
    height: auto;

    img{
      width: 100%;
      height: 100%;
    }
  }

  &figure-logo {
      img {
      width: 100%;
      height: 100%;
    }
  }

  &__infoProducts {
    @include desk {
      width: 200px;
      gap: 8px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    span {
      
      @include text ($fontRoboto, $w400, $s14, $white)
    }
    
  }

  &__link{
    
      margin-bottom: 5px;
      text-decoration: none;
      font-family: $fontRoboto;
      font-weight: $w400;
      font-size: $s12;
      color: $white;
      gap: 10px;
   
  }

  &__infoSubscription {
    @include desk {
   
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0px 15px;
    gap: 5px
    }
  }
  &__span-title {
    @include desk {

    @include text ($fontRoboto, $w400, $s14, $skyBkue)
    }
  }
  &__span-subTitle {
    @include desk {
    @include text ($fontRoboto, $w400, $s10, $white)
    }
  }
  &__container-subscription{
    @include desk {
      border-radius: 5px;
    width: 310px;
    height: 25px;
    background-color: $grayLight;
    justify-content: space-between;
    }
    span{
      margin-right: 30px;
      @include text ($fontRoboto, $w400, $s12, $white)
    }
    button{
     background-color: $skyBkue;
     width: 80px;
     height: 25px;
     border-radius: 5px;
    }
  }
  &__container-networks{
    @include desk {
    display: flex;
    gap: 20px;
    justify-content: center;
    }
    
  }
  &__language{
    @include desk {
    width: 300px;
    padding-left: 50px;
    }
    button{
      padding: 5px;
      font-size: 9pt;
      width: 75px;
      background-color: $grayLight;
      border-radius: 5px;
      color: $white;

    }
  }

  &__copyRight{
    width: 700px;
    @include desk {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    span{
      @include text ($fontRoboto, $w400, $s10, $white)
    }
  }

  &__figure {
    @include desk {
      display: flex;
      gap: 8px;
      width: 20px;
      height: 20px;
    }

    img {
     
      width: 100%;
      height: 100%;
     
    }
  }
  &__icon-networks{
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

