@import "../../style/mixin.scss";

.main {
    &__containerDasboard {
        display: flex;
        gap: 40px;
        margin-top: 30px;
        margin-left: 120px;
    }
    &__containerToday {
        background-color: red;
        width: 700px;
        height: 200px;
    }
    &__containerBalance {
        background-color: pink;
        width: 300px;
    }
    &__containerOrders {
        margin-left: 120px;
        margin-top: 40px;
    }
    &__containerRecent {
        background-color: green;
        width: 1040px;
        height: 200px;
    }
}
@media screen and (min-width: 375px) {
    
}