@import "../../style/mixin.scss";
@import "../../style/style.scss";

.navbarTalentos {
  margin-bottom: 10px;
  margin-left: 45px;
 
  &__container {
    @include desk {
    display: flex;
    background-color: $softblue;
    height: 130px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 40% 90%);
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;  
  } 
}

  &__logout {
    @include styleSquare(
      $yellow,
      $yellow,
      $wi75,
      $he25,
      $gray,
      $s12,
      $w400,
      $white,
      $gray,
      $gray
    );
  }

  &__logo {
    img {
      display: flex;
      width: 190px;
      position: absolute;
      top:50px;
      z-index: 1;
  }
}
}

@media screen and (max-width: 768px) {
  .navbarTalentos {
  &__container {
    display: flex;
    background-color: transparent;
  }

  &__logo {
    img {
      display: flex;
      width: 150px;
      position: absolute;
      top:25px;
      z-index: 1;
  }
  }
  }

  
}


@media screen and (max-width: 375px){
  .navbarTalentos {

  &__container {
    display: flex;
    background-color: transparent;
    height: 100px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 40% 90%);
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;  
}
&__logo {
  img {
    display: flex;
    width: 150px;
    position: absolute;
    top:25px;
    z-index: 1;
}
}
  }
  

}
