@import '../../style/style.scss';

.layoutHome{
    @include desk {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 60px;
        margin-left: 60px;
        display: flex;
    }
    &__container-logo{
        width: 300px;
       
    }
    &__figure-logo{
        width: 150px;
        height: auto;
        display: flex;
        justify-content: center;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__container-navLink{
       
        width: 750px;
        display: flex;
        align-items: center;
    }
    &__navbar-ul{
        display: flex;
        gap: 35px;
        
    }
    &__link{
        text-decoration: none;
        @include text ($fontRoboto, $w400, $s14, $gray)
    }
    &__container-login{
        display: flex;
        width: 200px;
        justify-content: flex-end;
  

    }
    &__container-imgTalent {
        @include desk {
            @include styleRound($skyBkue, $skyBkue, $wi55, $he55,
                $white, $s14, $w300,
                $skyBkue, $skyBkue, $gray);
            position: relative;
        }
    }

    &__card-figure {
        @include desk {
            @include styleRound($white, $skyBkue, $wi45, $he45,
                $white, $s14, $w300,
                $white, $skyBkue, $gray);

            img {
                width: 100%;
                height: 100%;
                border-radius: 5rem;
            }
        }
    }


    &__select{
        width: 20px;
       
    }
}