@import "../../style/style.scss";

.header {
  display: flex;
  background-color: red;
  width: 500px;
 
  &__container-logo{
    background-color: aqua;
    width: 200px;
  }

  &__navbar {
    display: flex;
    padding-left: 700px;
    align-items: center;
  }

  &__logomakaia {
    img {
      width: 200px;
      position: absolute;
      top: 20px;
    }
  }
  &__navbarlink {
    display: flex;
  }
  &__button {
    @include styleSquare(
      $blue,
      $blue,
      $wi75,
      $he25,
      $white,
      $s12,
      $w400,
      $white,
      $gray,
      $gray
    );
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  &__buttonnavbar {
   background-color: transparent;
   color: $white;
   border: 1px solid white;
   border-radius: 20px;
   width: 100px;
   height: 30px;
  }
  &__buscador {
    display: flex;
    margin-left: -120px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    color: white;
    img {
      width: 20px;
      color: white;
    }
  }
}