@import '../../style/style.scss';

.LayoutAdmin{
    @include desk {
        width: 98%;
        height: auto;
        display: flex;
        margin-left: 20px;
        margin-top: 20px;
    }
    &__container-imgReturn{
        width: 100px;
        height: auto;
        display: flex;
        margin-left: 40px;
        align-items: center;
    }
    &__figure-imgReturn{
        width: 20px;
        height: 20px;
        img{
            width: 100%;
            height: 100%;
        }

    }
    &__container-logo{
        margin-top: 5px;
        width: 300px;       
    }

    &__container-message{
        display: flex;
        margin-left: 160px;
        margin-top: 15px;        
        font-size: 24px;
    }

    &__figure-logo{
        width: 150px;
        height: auto;
        display: flex;
        justify-content: center;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__container-navLink{
       
            
        width: 750px;
        display: flex;
        align-items: center;
    }
    &__navbar-ulAd{
        margin-top: 10px;        
        display: flex;
        gap: 35px;
        
    }



    &__link{
        text-decoration: none;
        @include text ($fontRoboto, $w400, $s14, $gray)
    }
    &__container-login{
        display: flex;
        width: 200px;
        justify-content: center;
        gap: 10px;
    }
    &__container-imgTalentAd {
        @include desk {
            @include styleRound($skyBkue, $skyBkue, $wi45, $he45,
                $white, $s14, $w300,
                $skyBkue, $skyBkue, $gray);
            // position: relative;
            margin-top: 5px;
        }
    }

    &__card-figure {
        @include desk {
            @include styleRound($white, $skyBkue, $wi40, $he40,
                $white, $s14, $w300,
                $white, $skyBkue, $gray);

            img {
                width: 100%;
                height: 100%;
                border-radius: 5rem;
            }
        }
    }
    
    &__button-exitAd{
        margin-top: 5px;
        
        width: 40px;
        height: 40px;
        display: flex;
        background-color: transparent;
        align-items: center;
    }
    &__figure-exit{
        
        width: 25px;
        height: 25px;
        display: flex;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.layoutTalent__linkAd{
    margin-left: 60px;
    list-style: none;
    color: black;
    font-size: 20px;
   
}

